.order-steps {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  flex-wrap: nowrap; 
  overflow-x: auto; 
}

.step {
  text-align: center;
  margin: 0 10px;
  flex-shrink: 0; 
}

.step-line {
  width: 20px;
  height: 10px;
  border-radius: 5px;
  background-color: #EDC9AF;
}

.step-line.active1 {
  background-color: #8b4513;
}

.step-label {
  font-size: 15px;
  color: #555;
  font-weight: bold;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.cart-item-summary {
  display: flex;
  align-items: flex-start; 
  width: 60%;
}

.cart-item-image {
  width: 200px; 
  height: auto;
}

.cart-item-details {
  margin-left: 10px;
  flex: 1;
}

.cart-item-details h2 {
  font-size: 1.3em; 
  margin: 5px 0;
}

.cart-item-details p {
  font-size: 0.9em; 
  margin: 4px 0;
}

.cart-item-details .expand-more {
  width: 50px; 
  height: auto;
}

.cart-item-details .delete-more,
.cart-item-details .fav-more {
  width: 10px; 
  height: auto;
}

.cart-item-details .quantity-container {
  display: flex;
  align-items: center;
}

.cart-item-details .payment-text {
  margin-left: 10px; 
  font-size: 0.9em; 
  color: #8B4513;
  font-weight: bold;
}

.order-summary {
  width: 35%;
  padding: 20px;
  background-color: #F5DEB3; 
  border-radius: 10px;
}

.order-summary h2 {
  font-size: 1.5em; 
  margin-bottom: 20px;
}

.order-summary p {
  font-size: 1em; 
  margin: 10px 0;
  display: flex;
  justify-content: space-between; 
  border-bottom: 2px solid #ccc; 
  padding-bottom: px; 
}

.order-summary p span {
  display: inline-block;
}

.order-summary .right-align {
  text-align: right;
  flex: 1; 
}

.order-summary .shipping-cost {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-summary .tax-estimate {
  justify-content: center; 
}

.proceed-to-checkout {
  padding: 10px 20px;
  background-color: #8B4513;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.proceed-to-checkout:hover {
  background-color: #A0522D;
}


@media screen and (max-width: 768px) {
  .order-steps {
    flex-wrap: nowrap; 
    overflow-x: auto; 
  }

  .cart-container {
    flex-direction: column;
  }

  .order-summary {
    width: 100%;
    margin-top: 20px; 
  }
}
