.order-steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px; /* Adjust the gap as needed */
  margin-bottom: 10px; /* Add margin to separate from the heading */
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-image {
  width: 100px; /* Adjust the size to ensure all step images are equal */
  height: 10px; /* Ensure height is consistent as well */
}

.step-label {
  margin-top: 5px; /* Adjust spacing as needed */
  font-size: 0.9em; /* Adjust the font size as needed */
}

.cart-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.cart-item-summary {
  display: flex;
  align-items: flex-start; /* Align items at the top */
  width: 60%;
}

.cart-item-image {
  width: 200px; /* Increase the size as needed */
  height: auto;
}

.cart-item-details {
  margin-left: 10px; /* Move the details closer to the image */
  flex: 1;
}

.cart-item-details h2 {
  font-size: 1.2em; /* Adjust the size as needed */
  margin: 5px 0;
}

.cart-item-details p {
  font-size: 0.9em; /* Adjust the size as needed */
  margin: 5px 0;
}

.cart-item-details .expand-more {
  width: 50px; /* Adjust the size as needed */
  height: auto;
}

.cart-item-details .delete-more,
.cart-item-details .fav-more {
  width: 10px; /* Adjust the size as needed */
  height: auto;
}

.cart-item-details .quantity-container {
  display: flex;
  align-items: center;
}

.cart-item-details .payment-text {
  margin-left: 10px; /* Adjust the spacing as needed */
  font-size: 0.9em; /* Adjust the size as needed */
  color: #8B4513;
  font-weight: bold;
}

.order-summary {
  width: 35%;
  padding: 20px;
  background-color: #F5DEB3; /* Light brown background */
  border-radius: 10px;
}

.order-summary h2 {
  font-size: 1.5em; /* Adjust the size as needed */
  margin-bottom: 20px;
}

.order-summary p {
  font-size: 1em; /* Adjust the size as needed */
  margin: 10px 0;
  display: flex;
  justify-content: space-between; /* Align items to the sides */
  border-bottom: 2px solid #ccc; /* Add underline */
  padding-bottom: px; /* Add space below the text */
}

.order-summary p span {
  display: inline-block;
}

.order-summary .right-align {
  text-align: right;
  flex: 1; 
}

.order-summary .shipping-cost {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.order-summary .tax-estimate {
  justify-content: center; 
}

.proceed-to-checkout {
  padding: 10px 20px;
  background-color: #8B4513;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.proceed-to-checkout:hover {
  background-color: #A0522D;
}
