/* General styles */
.order-steps {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.step {
  text-align: center;
  margin: 0 10px;
}

.step-line {
  width: 50px;
  height: 10px;
  border-radius: 5px;
  background-color: #EDC9AF;
}
.step-line.active1 {
  background-color: black;
}

.step-line.active {
  background-color: #8b4513;
}

.step-label {
  font-size: 15px;
  color: #555;
  font-weight: bold;
}

.sign-in button {
  margin-right: 10px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.brown-button {
  color: #8b4513;
}

.light-brown-button {
  background-color: #edc9af;
  color: #8b4513;
}

.place-order-container {
  padding: 20px;
}

.cart-item-summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cart-item-summary img {
  width: 100px;
  height: auto;
}

.order-summary {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  width: 30%;
}

.order-summary h2 {
  margin-top: 0;
}







.shipping-address {
  margin-top: 20px;
}

.shipping-address input,
.shipping-address select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.proceed-to-checkout {
  background-color: #8b4513;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .order-steps {
    flex-direction: column;
    align-items: center;
  }

  .step {
    margin: 10px 0;
  }

  .order-summary {
    width: 100%;
  }

  .shipping-address input,
  .shipping-address select {
    width: 100%;
  }
}
