

.footer {
  width: Fixed (1,280px)px;
  height: Hug (527px)px;
  top: 1355px;
  padding: 34px 32px 34px 32px;
  gap: 10px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: #F5F5DC;

 
 
}
.logo-container {
    display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; 
}
.logo {
  width: 150px;
  max-width: 100%; 
}
.secured-text {
  margin-right: 10px; 
}

.payment-icon {
  width: 15px;
  height: auto;
  margin: 0 5px; 
}

.secured-payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px; 
}



.logo{
  width: Fixed (291px)px;
  height: Hug (75px)px;
  gap: 59px;
  opacity: 0px;

}

.footer-content {
  max-width: 1280px; 
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: flex-start; 
}
.logo {
  margin-right: 20px;
  width: 200px;
  padding: 10px;
  height: auto;
}

.links {
  display: inline-block; 
  text-align: center; 
  margin-bottom: 10px; 
}

.links a {
  text-decoration: underline;
  color: black;
  margin: 0 40px;
}

.newsletter {
  text-align: center; 
  margin-top: 20px; 
}

.newsletter p {
  margin-bottom: 10px; 
}

.newsletter input {
  padding: 10px;
  margin-bottom: 10px;
}

.newsletter button {
  padding: 10px 20px;
  background-color: #8B4513;
  color: #f1f1f1;
}
.social-icon{
  
  width: 200px;
  max-width: 100%;
 
}

.footer-bottom {
  color: black;
  padding: 10px 0;
  font-size: 13px;
  font-weight: bold;
  font-family: lato;
  text-align: center; 
  

  
}

@media screen and (max-width: 768px) {
  .links {
    text-align: left;
  }

  .links a {
    display: block;
    margin: 5px 0; 
  }
 
  .footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

  .newsletter {
   
    margin-top: 0; 
  }
  .footer-bottom {
    font-size: 1rem; 
    text-align: left;
  }
}
