.product-section {
  width: 100%;
  margin: auto;
  padding: 20px 0;
}

.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: #8b4513;
  width: 100%;
  padding: 10px 0; 
  color: white;
  font-family: 'Lato', sans-serif;
  
  
}

.section-header .fire-icon {
  width: 20px; 
  height: auto;
  margin: 0 5px; 
}

.section-header .main-title {
  font-size: 1em; 
  text-align:right;
  margin: 0 5px; 
}

.section-header .subtitle {
  font-size: 0.7em; 
}

.product-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 10px;
  justify-content: flex-start; 
}

.product-card {
  min-width: 200px; 
  padding: 20px;
  text-align: center;
  background-color: #fff;
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}



.product-details {
  text-align: left;
}

.product-name,
.product-price,
.product-weight {
  margin: 10px 0;
}

.product-card button {
  padding: 10px 20px;
  background-color: #8B4513;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.product-card button:hover {
  background-color: #A0522D;
}
